[Desktop Entry]
Categories=Utility;
Comment[en_US]=Stupidly simple.
Comment=Stupidly simple.
Comment[ar]=\xd8\xa8\xd8\xb3\xd9\x8a\xd8\xb7 \xd8\xa8\xd8\xba\xd8\xa8\xd8\xa7\xd8\xa1.
Comment[bg]=\xd0\x9f\xd1\x80\xd0\xb5\xd0\xb4\xd0\xb5\xd0\xbb\xd0\xbd\xd0\xbe \xd0\xbf\xd1\x80\xd0\xbe\xd1\x81\xd1\x82.
Comment[bs]=Glupavo jednostavan.
Comment[ca]=Est\xc3\xbapidament simple.
Comment[cs]=Stupidn\xc4\x9b jednoduch\xc3\xbd.
Comment[de]=L\xc3\xa4cherlich einfach.
Comment[el]=\xce\x92\xce\xbb\xce\xb1\xce\xba\xcf\x89\xce\xb4\xcf\x8e\xcf\x82 \xce\xb1\xcf\x80\xce\xbb\xcf\x8c.
Comment[en_AU]=Stupidly simple.
Comment[en_CA]=Stupidly simple.
Comment[en_GB]=Stupidly simple.
Comment[eo]=Stulte simple.
Comment[es]=Est\xc3\xbapidamente simple.
Comment[et]=H\xc3\xa4mmastavalt lihtne.
Comment[eu]=Erraza baino errazagoa.
Comment[fi]=Todella yksinkertainen.
Comment[fr]=Stupidement simple.
Comment[ga]=Simpl\xc3\xadocht shimpl\xc3\xad.
Comment[gd]=Cho furasta 's a ghabhas.
Comment[gl]=Estupidamente simple.
Comment[he]=\xd7\x98\xd7\xa4\xd7\xa9\xd7\x99 \xd7\xa2\xd7\x93 \xd7\x9b\xd7\x9e\xd7\x94 \xd7\xa9\xd7\x96\xd7\x94 \xd7\xa4\xd7\xa9\xd7\x95\xd7\x98
Comment[hr]=Nevi\xc4\x91eno jednostavan
Comment[hu]=Nagyszer\xc5\xb1en egyszer\xc5\xb1.
Comment[id]=Begitu sederhana.
Comment[it]=Stupidamente semplice.
Comment[ja]=\xe8\xb6\x85\xe3\x82\xb7\xe3\x83\xb3\xe3\x83\x97\xe3\x83\xab
Comment[ka]=\xe1\x83\xab\xe1\x83\x90\xe1\x83\x9a\xe1\x83\x98\xe1\x83\x90\xe1\x83\x9c \xe1\x83\x9b\xe1\x83\x90\xe1\x83\xa0\xe1\x83\xa2\xe1\x83\x98\xe1\x83\x95\xe1\x83\x98 \xe1\x83\x90\xe1\x83\x98 \xe1\x83\xab\xe1\x83\x90\xe1\x83\x9a\xe1\x83\x98\xe1\x83\x90\xe1\x83\x9c
Comment[ko]=\xec\x96\xb4\xec\xb2\x98\xea\xb5\xac\xeb\x8b\x88\xec\x97\x86\xec\x9c\xbc\xeb\xa6\xac \xeb\xa7\x8c\xec\xb9\x98 \xeb\x8b\xa8\xec\x88\x9c\xed\x95\x9c.
Comment[lt]=Kvailai paprastas.
Comment[lv]=Mu\xc4\xbc\xc4\xb7\xc4\xabgi vienk\xc4\x81r\xc5\xa1i.
Comment[ml]=\xe0\xb4\x85\xe0\xb4\xa8\xe0\xb4\xbe\xe0\xb4\xaf\xe0\xb4\xbe\xe0\xb4\xb8\xe0\xb4\x82.
Comment[ms]=Ringkas la sangat.
Comment[nb]=Uforstandig enkelt.
Comment[ne]=\xe0\xa4\x8f\xe0\xa4\x95\xe0\xa4\xa6\xe0\xa4\xae\xe0\xa5\x88 \xe0\xa4\xb8\xe0\xa4\xb0\xe0\xa4\xb2
Comment[nl]=Belachelijk eenvoudig.
Comment[nn]=Idiotsikkert
Comment[pl]=Idiotycznie prosty.
Comment[pt]=Estupidamente simples.
Comment[pt_BR]=Estupidamente simples.
Comment[ro]=Stupid de simplu.
Comment[ru]=\xd0\x94\xd0\xbe \xd0\xb1\xd0\xb5\xd0\xb7\xd1\x83\xd0\xbc\xd0\xbd\xd0\xbe\xd0\xb3\xd0\xbe \xd0\xbf\xd1\x80\xd0\xbe\xd1\x81\xd1\x82.
Comment[sk]=Primit\xc3\xadvne jednoduch\xc3\xbd.
Comment[sl]=Bedasto preprost.
Comment[sma]=dle dan aelhkies.
Comment[sr@latin]=Glupavo jenostavan.
Comment[sr]=\xd0\xa8\xd0\xb0\xd1\x88\xd0\xb0\xd0\xb2\xd0\xbe \xd1\x98\xd0\xb5\xd0\xb4\xd0\xbd\xd0\xbe\xd1\x81\xd1\x82\xd0\xb0\xd0\xb2\xd0\xbd\xd0\xbe.
Comment[sv]=Galet enkelt.
Comment[ta]=\xe0\xae\xae\xe0\xae\xbf\xe0\xae\x95\xe0\xae\xb5\xe0\xaf\x81\xe0\xae\xae\xe0\xaf\x8d \xe0\xae\x8e\xe0\xae\xb3\xe0\xae\xbf\xe0\xae\xa4\xe0\xaf\x81
Comment[te]=\xe0\xb0\x9a\xe0\xb0\xbe\xe0\xb0\xb2\xe0\xb0\xbe \xe0\xb0\xb8\xe0\xb0\xb0\xe0\xb0\xb3\xe0\xb0\xae\xe0\xb1\x88\xe0\xb0\xa8\xe0\xb0\xa6\xe0\xb0\xbf.
Comment[th]=\xe0\xb8\x87\xe0\xb9\x88\xe0\xb8\xb2\xe0\xb8\xa2\xe0\xb9\x80\xe0\xb8\xab\xe0\xb8\xb5\xe0\xb9\x89\xe0\xb8\xa2\xe0\xb9\x86
Comment[tr]=Son derece basit.
Comment[uk]=\xd0\x9f\xd1\x80\xd0\xbe\xd1\x81\xd1\x82\xd0\xbe \xd0\xbb\xd0\xb5\xd0\xb3\xd0\xba\xd0\xb8\xd0\xb9.
Comment[uz]=Ahmoqona darajada sodda.
Comment[vi]=C\xe1\xbb\xb1c k\xc3\xac \xc4\x91\xc6\xa1n gi\xe1\xba\xa3n.
Comment[zh_CN]=\xe7\xae\x80\xe5\x8d\x95\xe5\xbe\x97\xe6\x97\xa0\xe8\xaf\xad\xe3\x80\x82
Comment[zh_TW]=\xe6\xa5\xb5\xe7\xb0\xa1\xe3\x80\x82
Exec=plank
GenericName[en_US]=Dock
GenericName=Dock
Icon=plank
MimeType=
Name[en_US]=Plank
Name=Plank
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
