[Desktop Entry]
Categories=Utility;
Comment[en_US]=Color temperature adjustment tool
Comment=Color temperature adjustment tool
Comment[be]=\xd0\x86\xd0\xbd\xd1\x81\xd1\x82\xd1\x80\xd1\x83\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x82 \xd1\x80\xd1\x8d\xd0\xb3\xd1\x83\xd0\xbb\xd1\x8f\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8f \xd0\xba\xd0\xb0\xd0\xbb\xd1\x8f\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xb9 \xd1\x82\xd1\x8d\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd1\x8b
Comment[ca]=Eina per a l'ajust de la temperatura de color
Comment[cs]=N\xc3\xa1stroj pro p\xc5\x99izp\xc5\xafsoben\xc3\xad barevn\xc3\xa9 teploty
Comment[da]=Justeringsv\xc3\xa6rkt\xc3\xb8j for farvetemperatur
Comment[de]=Farbtemperaturanpassungswerkzeug
Comment[en_GB]=Colour temperature adjustment tool
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[fr]=Outil de r\xc3\xa9glage de la temp\xc3\xa9rature de couleur
Comment[he]=\xd7\x9b\xd7\x9c\xd7\x99 \xd7\x9c\xd7\x94\xd7\xaa\xd7\x90\xd7\x9e\xd7\xaa \xd7\x98\xd7\x9e\xd7\xa4\xd7\xa8\xd7\x98\xd7\x95\xd7\xa8\xd7\xaa \xd7\xa6\xd7\x91\xd7\xa2
Comment[hu]=Sz\xc3\xadnh\xc5\x91m\xc3\xa9rs\xc3\xa9klet be\xc3\xa1ll\xc3\xadt\xc3\xb3 eszk\xc3\xb6z
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[ja]=\xe8\x89\xb2\xe6\xb8\xa9\xe5\xba\xa6\xe3\x81\xae\xe8\xaa\xbf\xe6\x95\xb4\xe3\x83\x84\xe3\x83\xbc\xe3\x83\xab
Comment[lt]=Spalvos temperat\xc5\xabros reguliavimo \xc4\xafrankis
Comment[nb]=Justeringsverkt\xc3\xb8y for fargetemperatur
Comment[nl]=Hulpmiddel voor het bijstellen van de kleurtemperatuur
Comment[pl]=Narz\xc4\x99dzie do dostosowywania temperatury barwowej
Comment[pt_BR]=Ferramenta de ajuste de temperatura de cor
Comment[ru]=\xd0\x98\xd0\xbd\xd1\x81\xd1\x82\xd1\x80\xd1\x83\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x82 \xd1\x80\xd0\xb5\xd0\xb3\xd1\x83\xd0\xbb\xd0\xb8\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xb8\xd1\x8f \xd1\x86\xd0\xb2\xd0\xb5\xd1\x82\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9 \xd1\x82\xd0\xb5\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd1\x8b
Comment[sr]=\xd0\x90\xd0\xbb\xd0\xb0\xd1\x82\xd0\xba\xd0\xb0 \xd0\xb7\xd0\xb0 \xd0\xbf\xd1\x80\xd0\xb8\xd0\xbb\xd0\xb0\xd0\xb3\xd0\xbe\xd1\x92\xd0\xb0\xd0\xb2\xd0\xb0\xd1\x9a\xd0\xb5 \xd1\x82\xd0\xb5\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd0\xb5 \xd0\xb1\xd0\xbe\xd1\x98\xd0\xb5
Comment[sv]=Justeringsverktyg f\xc3\xb6r f\xc3\xa4rgtemperaturer
Comment[tr]=Renk s\xc4\xb1cakl\xc4\xb1\xc4\x9f\xc4\xb1 ayarlama arac\xc4\xb1
Comment[uk]=\xd0\x97\xd0\xbd\xd0\xb0\xd1\x80\xd1\x8f\xd0\xb4\xd0\xb4\xd1\x8f \xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb0\xd1\x88\xd1\x82\xd1\x83\xd0\xb2\xd0\xb0\xd0\xbd\xd1\x8c \xd0\xba\xd0\xbe\xd0\xbb\xd1\x96\xd1\x80\xd0\xbd\xd0\xbe\xd1\x97 \xd1\x82\xd0\xb5\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd0\xb8
Comment[zh_CN]=\xe8\x89\xb2\xe6\xb8\xa9\xe8\xb0\x83\xe8\x8a\x82\xe5\xb7\xa5\xe5\x85\xb7
Comment[zh_TW]=\xe8\x89\xb2\xe6\xba\xab\xe8\xaa\xbf\xe6\x95\xb4\xe5\xb7\xa5\xe5\x85\xb7
Exec=redshift-gtk
GenericName[en_US]=Color temperature adjustment
GenericName=Color temperature adjustment
GenericName[be]=\xd0\xa0\xd1\x8d\xd0\xb3\xd1\x83\xd0\xbb\xd1\x8f\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd0\xb5 \xd0\xba\xd0\xb0\xd0\xbb\xd1\x8f\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xb9 \xd1\x82\xd1\x8d\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd1\x8b
GenericName[ca]=Ajust de la temperatura de color
GenericName[cs]=Nastaven\xc3\xad teploty barev
GenericName[da]=Justering af farvetemperatur
GenericName[de]=Farbtemperaturanpassung
GenericName[en_GB]=Colour temperature adjustment
GenericName[es]=Ajuste de la temperatura de color
GenericName[fr]=R\xc3\xa9glage de la temp\xc3\xa9rature de couleur
GenericName[he]=\xd7\x94\xd7\xaa\xd7\x90\xd7\x9e\xd7\xaa \xd7\x98\xd7\x9e\xd7\xa4\xd7\xa8\xd7\x98\xd7\x95\xd7\xa8\xd7\xaa \xd7\xa6\xd7\x91\xd7\xa2
GenericName[hu]=Sz\xc3\xadnh\xc5\x91m\xc3\xa9rs\xc3\xa9klet be\xc3\xa1ll\xc3\xadt\xc3\xa1sa
GenericName[it]=Regolazione della temperatura del colore
GenericName[ja]=\xe8\x89\xb2\xe6\xb8\xa9\xe5\xba\xa6\xe3\x81\xae\xe8\xaa\xbf\xe6\x95\xb4
GenericName[lt]=Spalvos temperat\xc5\xabros reguliavimas
GenericName[nb]=Justering av fargetemperatur
GenericName[nl]=Bijstelling van kleurtemperatuur
GenericName[pl]=Dostosowanie temperatury barwowej
GenericName[pt_BR]=Ajuste de temperatura de cor
GenericName[ru]=\xd0\x9d\xd0\xb0\xd1\x81\xd1\x82\xd1\x80\xd0\xbe\xd0\xb9\xd0\xba\xd0\xb0 \xd1\x86\xd0\xb2\xd0\xb5\xd1\x82\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9 \xd1\x82\xd0\xb5\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd1\x8b
GenericName[sr]=\xd0\x9f\xd1\x80\xd0\xb8\xd0\xbb\xd0\xb0\xd0\xb3\xd0\xbe\xd1\x92\xd0\xb0\xd0\xb2\xd0\xb0\xd1\x9a\xd0\xb5 \xd1\x82\xd0\xb5\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd0\xb5 \xd0\xb1\xd0\xbe\xd1\x98\xd0\xb5
GenericName[sv]=F\xc3\xa4rgtemperaturjustering
GenericName[tr]=Renk s\xc4\xb1cakl\xc4\xb1\xc4\x9f\xc4\xb1 ayar\xc4\xb1
GenericName[uk]=\xd0\x9d\xd0\xb0\xd0\xbb\xd0\xb0\xd1\x88\xd1\x82\xd1\x83\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8f \xd0\xba\xd0\xbe\xd0\xbb\xd1\x96\xd1\x80\xd0\xbd\xd0\xbe\xd1\x97 \xd1\x82\xd0\xb5\xd0\xbc\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd1\x83\xd1\x80\xd0\xb8
GenericName[zh_CN]=\xe8\x89\xb2\xe6\xb8\xa9\xe8\xb0\x83\xe8\x8a\x82
GenericName[zh_TW]=\xe8\x89\xb2\xe6\xba\xab\xe8\xaa\xbf\xe6\x95\xb4
Icon=redshift
MimeType=
Name[en_US]=Redshift
Name=Redshift
Name[be]=Redshift
Name[ca]=Redshift
Name[cs]=Redshift
Name[da]=Redshift
Name[de]=Redshift
Name[en_GB]=Redshift
Name[es]=Redshift
Name[fr]=Redshift
Name[he]=Redshift
Name[hu]=Redshift
Name[it]=Redshift
Name[ja]=Redshift
Name[lt]=Redshift
Name[nb]=R\xc3\xb8dskift
Name[pl]=Redshift
Name[pt]=Redshift
Name[pt_BR]=Redshift
Name[ro]=Redshift
Name[ru]=Redshift
Name[sr]=\xd0\xa0\xd0\xb5\xd0\xb4\xd1\x88\xd0\xb8\xd1\x84\xd1\x82
Name[sv]=Redshift
Name[tr]=Redshift
Name[uk]=Redshift
Name[zh_CN]=\xe7\xba\xa2\xe7\xa7\xbb
Name[zh_TW]=Redshift
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
