[Desktop Entry]
Icon=image-svg+xml
Name=archlinux-logo-1.svg
Type=Link
URL[$e]=file:///usr/share/about-distro/archlinux-logo-1.svg
X-KDE-LastOpenedWith=firefox
