[Desktop Entry]
Icon=image-png
Name=koompi-logo.png
Type=Link
URL[$e]=file:$HOME/Downloads/koompi-logo.png
X-KDE-LastOpenedWith=/usr/share/kservices5/user_manager.desktop
